html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: Arial, sans-serif;
  background-color: #ffffe5;
}

#wrapper {
  width: 960px;
  margin: 0 auto;
  box-sizing: content-box;
}

h1#title {
  text-align: center;
  background-color: lightblue;
  padding: 5px 0;
}

#btn-container {
  text-align: center;
  margin: 20px;
}

button {
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 8px;
  color: #3d3d3d;
  margin: 0 5px;
}

button:hover {
  color: black;
  background-color: #EAEAEA;
}

#sketch-container {
  border: 2px solid blue;
  width: 100%;
}

.box {
  outline: 1px dotted lightgray;
  display: inline-block;
  background-color: white;
}

.painted {
  background-color: black;
}